
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f7f2;
    color: #333;
    margin: 0;
    padding: 20px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.back-link {
    text-decoration: none;
    color: #c5a47e;
    /* Sarı/Qızılı rəng */
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

}




.back-link:hover {
    color: #000;

}

.page-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#line-container {
    max-width: 900px;
    margin: 40px auto;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    position: relative;
    gap: 30px;
}

.product-card img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #fdfdfd;
}

.product-info {
    flex: 1;
}


.price-text {
    color: #c5a47e;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.product-info h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #888;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.product-info h4 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.add-to-cart-btn {
    background-color: #c5a47e;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    transition: 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #a38563;
}


@media (max-width: 601px) {
    .header-container {
        padding: 10px;
        flex-direction: column;
    }

    .page-title {
        position: static;
        transform: none;
        margin-bottom: 20px;
    }

    .product-card {
        flex-direction: column;
        text-align: center;
    }
}